html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9 !important;
  background-color: black;
}

/* Navigation bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
  z-index: 10;
  background-color: black;
}

nav {
  margin: 10px;
  display: flex;
  align-items: center;
  min-width: 420px;
  justify-content: space-between;
}

nav h3 {
  text-decoration: underline;
  font-weight: 400;
  margin-right: 10px;
}

.logo {
  margin: 10px;
  height: 50px;
}

/* Hero Section */

.hero {
  height: 700px;
  width: 1200px;
  background-image: url(./resources/img-mission-background.jpg);
  margin: 69px auto;
  position: relative;
  display: flex;
  align-items: center;
}

.banner {
  background-color: black;
  flex-grow: 1;
  text-align: center;
}
.banner h2,
.banner h4 {
  margin: 15px 0;
}

/* Tea of the Month Section */

.teaMonth {
  width: 1000px;
  margin: 60px auto;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  align-content: flex-start;
}

.tile {
  margin: 0 15px;
}
.tile img {
  height: 200px;
  width: 300px;
}

.tile h4 {
  margin: 10px auto;
}

/* Locations Section */

.locations {
  display: flex;
  margin: auto;
  height: 500px;
  width: 1200px;
  background-image: url(./resources/img-locations-background.jpg);
  background-position: top;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.locations h2 {
  width: 100%;
  text-align: center;

}

.tile2 h3, .tile2 h4 {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.tile2 h4 {
  font-weight: 400;
}

.tile2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center ;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1 !important;
}

/* Footer Section */

footer div {
  height: 200px;
  margin: auto;
  text-align: center;
}

.copy {
  text-align: left;
  margin-left: 20px;
}